footer.footer 
    .footer__logo 
        img(src='/img/logo.png', alt='Logo de la empresa MCS Tours')
    // ul.footer__nav 
        li: a(href='#') About us
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact 
    p.footer__copyright &copy; by Marta Cerratos.