extends base
  
block content 
    main.main-error 
        .error 
            .error__title 
                h2.heading-secondary.heading-secondary--error Algo fue mal
            .error__msg= msg 

