extends base

block content
    main.principal 
        .formulario-login 
            h2.encabezado-secundario.mb-grande Inicia sesi칩n en tu cuenta
            form.form 
                .grupo-formulario 
                    label.etiqueta-formulario(for='email') Correo electr칩nico
                    input#email.entrada-formulario(type='email' placeholder='tu@email.com' required)
                .grupo-formulario.mb-mediano 
                    label.etiqueta-formulario(for='password') Contrase침a
                    input#password.entrada-formulario(type='password' placeholder='********' required minLength='8')
                .grupo-formulario 
                    button.boton.boton--azul Iniciar sesi칩n